<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">
    <title>Employee</title>
</head>

<body>
    <div id="menu_bar">
        <ul id="menu">
            <li><a href="/homepage"> Home</a></li>
            <li>
                <a href="/product">Product</a>
            </li>
            <li><a href="/employee">Employee</a></li>
            <li><a href="/account">User management</a></li>
            <li style="float:right"><a class="active" href="/">Logout</a></li>
        </ul>
    </div>
    <h1>Employee Management</h1>
    <form action="" method="POST">
        Employee name:
        <input type="text" name="Ename" id="">
        <input type="submit" value="Search">
    </form>
    <center>
        <b>Total of employees: {{count}}</b>
    </center>
    <br>
    <a style="margin-left: 46%;" href="/employee/add">Add new employee</a>
    <br><br>
    <table width="50%" border="1">
        <tr>
            <th>Employee name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{# each employee}}
        <tr>
            <td>{{Employee_Name}} </td>
            <td>{{Employee_Age}}</td>
            <td>{{Employee_Gender}}</td>
            <td><a href="/employee/update?id={{_id}} ">Update</a></td>
            <td><a href="/employee/delete?id={{_id}} ">Delete</a></td>
        </tr>
        {{/each}}
    </table>
</body>

</html>